body{
font-family:"GothamBook","Helvetica", "Arial", sans-serif;
color: #000;
}

header{
font-size: 16px;
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url('../image/hero1.jpg');
background-position:right;
background-size: cover;
height: 100vh;
width:100vw;
width: 100%;
}
.second-head{
  padding: 36px;
  background: linear-gradient(to top, transparent, rgba(0,0,0,0.4));
}

.menu{
color: #ffffff;
text-transform: uppercase;
float: right;
}
.logo{
float: left;
}
  .menu li{
  display: inline-block;
  margin-left: 24px;
  }
a{
color: white;
font-weight: 200;
}
  a:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  }
  a:active,:visited{
  color: white;
  text-decoration: none;
  }
.text{
color: #fff;
margin-top: 300px;
max-width: 900px;
line-height: 30px;
}
 .text h1{
   font-size: 81px;
   font-weight: 600;
 }
 .text h2{
  font-size: 30px;
  margin: 24px 0;
  max-width: 700px;
  font-weight: 100;
 }
.video{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url('../image/video.jpg');
  background-size: cover;
  height: 100vh;
  width:100vw;
  background-position:center;
  width: 100%;
}
.se{
margin-right: 0px;
}
.left-net{
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url('../image/hero-yellow.jpg');
background-size: cover;
height: 100vh;
width: 100%;
background-position: center;
}
.right-net{
  margin-top: 280px;
  margin-left: 90px;
}
  .right-net h3{
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 800;
  }
  .right-net p{
  max-width: 503px;
  font-size: 18px;
  line-height: 30px;
  }
.explore{
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url('../image/explore.jpg');
background-size: cover;
height: 100vh;
width: 100%;
}
.text-explore h1{
font-size: 108px;
color: #fff;
text-align: center;
font-weight: 700;
margin-top: 240px;
}
.terry{
background-image: linear-gradient(to top, transparent, rgba(0,0,0,0.4)),url('../image/terry.jpg');
background-size: cover;
height: 50vw;
width: 100%;
background-position: center;
}
.terry-small{
margin-left: 50px;

}
.terry-small h1{
  color: #fff;
  font-weight: 700;
  font-size: 88px;
  margin-bottom: 100px;

}
.terry-left_phone{
  width: 200px;
  height: 318px;
  background-image: url('../image/netflix-piccoli.png');
  background-size: cover;
  background-position: 40% 0;
  margin-left: 50px;
}
.te{
margin: 0;
}
.work{
background-image: url('../image/work.jpg');
}
.work_text h1{
text-align: left;
margin-top: 500px;
float: left;
}
  .work_text h2{
    color: white;
    text-align: left;
    float: left;
    font-weight: 200;
    max-width: 720px;
  }
.horse{
background-image: url('../image/horse.jpg');
height: 70vh;
}
.sf{
padding: 0;
}
.tap{
  background-image: url('../image/tap.jpg');
  height: 70vh;
}
.block{
background-color: black;
height: 250px;
width: 100%;
}
  .block h1{
  color: white;
  text-align: left;
  font-size: 88px;
  font-weight: 800;
  }
